<div class="text-center">
    <h1 class="display-4">{{ pageTitle }}</h1>
    <h3>
        <small class="text-muted">Access and control your power outlets remotely</small>
    </h3>
    <div class="row">
        <img id="app-home-logo" src="assets/img/logo.png"
            class="img-fluid rounded mx-auto d-block" />
    </div>

    <p class="card-text">
        This <strong>Smart Outlet</strong> app provides some visual aids in order to conduct
        some analyses and view the reports/history of the device's last activities.
    </p>

    <a class="btn btn-primary" [routerLink]="['/outlets']">Get Started</a>
</div>